{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %} - unWaste</title>
    <link href="{% static 'styles/reset.css' %}" rel="stylesheet" />
    <link href="{% static 'styles/style.css' %}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/fedd2c1095.js"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'scripts/script.js' %}" defer></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <header>
      <nav>
        <button class="mobile-nav-toggle fa-solid fa-bars"></button>
        <a class="logo-container" href="{% url 'base:index' %}">
          <img
            class="desktop"
            src="{% static 'images/svg/logotype.svg' %}"
            alt="unWaste logo."
          />
          <img
            class="mobile"
            src="{% static 'images/svg/logomark.svg' %}"
            alt="unWaste logo."
          />
        </a>
        <ul>
          {% include 'navbar-items.html' %}
        </ul>
      </nav>
      <nav class="mobile hidden">
        <ul>
          {% include 'navbar-items.html' %} {% include 'footer-items.html' %}
        </ul>
      </nav>
    </header>
    <div class="main-container">{% block body %}{% endblock %}</div>
    <footer>
      <ul>
        {% include 'footer-items.html' %}
      </ul>
    </footer>
  </body>
</html>
