{% extends 'main.html' %}
{% load static %}

{% block title %}Colletion request{% endblock %}

{% block body %}
  <section>
    <h2>Request a collection:</h2>
    <div class="component">
      <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Submit request</button>
      </form>
    </div>
  </section>
  {% if collection_requests %}
    <section>
      <h2>Your requests:</h2>
      {% for r in collection_requests %}
        <div class="component">
          <p><b>{{ r.timestamp }}</b></p>
          <p><b>Address:</b> {{ r.address }}</p>
          <p><b>Amount:</b> {{ r.kilogram_amount }}kg</p>
          <p><b>Desired collection date:</b> {{ r.desired_collection_date }}</p>
          <p><b>Waste type:</b> {{ r.get_waste_type_display }}</p>
          <p><b>Status:</b> {{ r.get_status_display }}</p>
        </div>
      {% endfor %}
    </section>
  {% endif %}
{% endblock %}
