{% extends 'main.html' %}
{% load static %}

{% block title %}Welcome{% endblock %}

{% block head %}
    <script src="{% static 'base/scripts/index.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'base/styles/style.css' %}">
{% endblock %}

{% block body %}
    <!-- HEADER -->
    <header id="header">
        <a href="{% url 'base:index' %}" id="logo">
            <img src="{% static 'base/images/svg/UnWaste Letter.svg' %}" alt="logo" id="logoDesktop">
            <img src="{% static 'base/images/svg/UnWaste Icon Black.svg' %}" alt="logo" id="logoMobile">
        </a>

        <!-- NAVBAR -->
        <nav id="navbar">
            <button id="btn-menu">
                <label for="check">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
            </button>

            <!-- MENULIST -->
            <ul id="menulist">
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'base:logout' %}">Logout</a></li>
                    <li><a href="{% url 'base:settings' %}">Settings</a></li>
                {% else %}
                    <li><a href="{% url 'base:login' %}">Login</a></li>
                    <li><a href="{% url 'base:register' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <div class="main">
        <div class="section1">
            <div class="container">
                <img src="{% static 'base/images/svg/Background2.svg' %}" alt="">
                <div class="textarea">
                    <h1>Lorem <br>Ipsum</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, laudantium similique nam exercitationem nobis tenetur animi quis voluptates optio illum voluptatem corporis quo accusantium doloremque reprehenderit eos aperiam laboriosam dolorem!</p>
                    <button>Descubra mais -></button>
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <footer>
        <ul>
            <li><a href="{% url 'base:terms_of_service' %}">Terms of service</a></li>
            <li><a href="{% url 'base:privacy_policy' %}">Privacy policy</a></li>
            <li><a href="{% url 'base:about_us' %}">About us</a></li>
        </ul>
    </footer>
{% endblock %}
