{% extends 'main.html' %}

{% block body %}
  <section>
    <h2>{% block title %}Terms of service{% endblock %}</h2>
    <p>
      This service platform and its content are controlled and operated by unWaste
      itself. All rights reserved.
    </p>
    <p>
      These terms of use are intended to define the rules to be followed for the
      use of the website and its services, without prejudice to the application of
      current legislation.
    </p>
    <p>
      By creating and using an account on unWaste, you automatically agree to the
      terms of use, and you are fully responsible for any and all acts performed
      by you on unWaste or third-party services related to it. If you do not agree
      with any of the terms and conditions set out below, you must not use this
      platform. You also agree to the terms described in our privacy policy.
    </p>
    <p>
      If you would like to give us feedback about unWaste, have questions or need
      to address any matter related to these terms of use, please contact us.
    </p>
    <p>
      We reserve the right to suspend or cancel, at any time, your access to the
      application in case of suspicion of fraud, illegally obtaining a benefit or
      advantage, or for failing to comply with any conditions set forth in these
      terms of use, in the privacy policy or applicable law. In such cases, no
      compensation will be due to you, and unWaste will be able to take the
      competent action of recourse, if necessary, as well as take any other
      measures necessary to pursue and protect your interests.
    </p>
    <p>
      To access unWaste and use its services, it is necessary to register. To
      register, you will provide us with personal information such as date of
      birth, e-mail, CPF, cnpj of your company or where you work and full name. To
      learn more about personal data privacy at unWaste, visit our privacy policy.
    </p>
    <p>To use unWaste, you must be at least 18 years old.</p>
    <p>
      Upon registration, you will be the holder of an account that can only be
      accessed by authorized persons. If unWaste detects any account made from
      false information or access by unauthorized persons, that account will be
      automatically suspended and possibly deleted in the future.
    </p>
    <p>
      From now on, you undertake to keep your personal information up to date. You
      also agree that you will keep your login and password secure and out of
      reach of third parties, and you will not allow your account on the platform
      to be used by unauthorized persons. In this way, the user is responsible for
      all actions carried out on his account.
    </p>
    <p>
      All rights related to unWaste and its functionalities are the exclusive
      property of the team and its authors, including with regard to their texts,
      images, layouts, codes, databases, illustrations and other content produced
      directly or indirectly by the unWaste team. unWaste content is protected by
      copyright and intellectual property law. It is prohibited to use, copy,
      reproduce, modify, translate, publish, transmit, distribute, display,
      license, sell or exploit the unWaste content. Any unauthorized use of
      unWaste content will be considered copyright and intellectual property
      infringement.
    </p>
    <p>
      For the unWaste project team, the quality of the materials made available to
      the user is of paramount importance. Therefore, we reaffirm that unWaste
      guarantees that all rights, title and interest in the service provided by us
      will remain with unWaste.
    </p>
    <p>
      You are solely responsible for your use of unWaste and shall abide by the
      rules of these terms of use, as well as the law applicable to unWaste.
    </p>
    <p>
      unWaste and third parties will not be liable under any circumstances for
      direct or indirect damages that result from or are related to access, use or
      inability to access or use unWaste.
    </p>
  </section>
{% endblock %}
